> **Note:** In most sessions you will be solving exercises posed in a Jupyter notebook that looks like this one. Because you are cloning a Github repository that only we can push to, you should **NEVER EDIT** any of the files you pull from Github. Instead, what you should do, is either make a new notebook and write your solutions in there, or **make a copy of this notebook and save it somewhere else** on your computer, not inside the `sds` folder that you cloned, so you can write your answers in there. If you edit the notebook you pulled from Github, those edits (possible your solutions to the exercises) may be overwritten and lost the next time you pull from Github. This is important, so don't hesitate to ask if it is unclear.

# Exercise Set 1: Lending club

*February 5, 2019*

In this Exercise Set 1 we will investigate loan data from `Lending Club`. We will see how nested cross validation can be used  to compute a distribution of performance metrics for comparing different models. We will also try out bagging.

Below we provide some code that helps by downloading and cleaning the data. Note this takes around 1 min if you have fast internet.

In [2]:
# Note: there are three .zip files with letter = a,b,c. 
# To ensure the files download in reasonable time we 
# only work with the first of the three. If you have time
# you can modify this cell to download all three. 

import os
import requests

filenames = []
base_url = 'https://resources.lendingclub.com/'

letter = 'a'
filename = f'LoanStats3{letter}.csv.zip'
url = base_url+filename

if not os.path.exists(filename):
    r = requests.get(url, allow_redirects=True)
    open(filename, 'wb').write(r.content)
filenames.append(filename)

The target we are going to predict is whether loan is repaid. This can be extracted from the `loan_status` below. Features names that we work with:

- **annual_inc**: The self-reported annual income provided by the borrower during registration.
- **dti**: A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.
- **emp_length**: Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years. 
- **grade**: LC assigned loan grade
- **home_ownership**: The home ownership status provided by the borrower during registration or obtained from the credit report. Our values are: RENT, OWN, MORTGAGE, OTHER
- **int_rate**: Interest Rate on the loan
- **term**: The number of payments on the loan. Values are in months and can be either 36 or 60.
- **verification_status**: Indicates if income was verified by LC, not verified, or if the income source was verified

Load and structure data

In [3]:
import numpy as np
import pandas as pd

# Read in csv files, store them
dfs = [pd.read_csv(f,header=0,skiprows=1,low_memory=False) for f in filenames]

# concatenate the dataframes (as standard there is only 1)
df = pd.concat(dfs)\
        .dropna(subset=['loan_amnt'])\
        .dropna(axis=1, how='all')

# View data
df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,tax_liens,hardship_flag,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,...,0.0,N,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Identify loans of interest
df = df.loc[df.loan_status.isin(['Fully Paid', 'Charged Off'])].copy()

# Clean up variables 
df['charged_off'] = (df.loan_status=='Charged Off').astype(int)
df['int_rate_f'] = df.int_rate.str[:-1].astype(float)
df['emp_length_f'] = df.emp_length\
                        .str.split(' ')\
                        .str[0].str[:2]\
                        .str.replace('<','0')\
                        .astype(float)

# label and features
y_var = 'charged_off'
X_vars = ['term', 'int_rate_f', 'grade', 'home_ownership', 'emp_length_f',
          'annual_inc', 'verification_status', 'dti']

# Create dummies
data = pd.get_dummies(df[X_vars+[y_var]], drop_first=True)\
        .dropna()\
        .reset_index(drop=True)\
        .astype(np.float64)\
        .loc[:2000]\
        .copy()

# View data
data.head()

,int_rate_f,emp_length_f,annual_inc,dti,charged_off,term_ 60 months,grade_B,grade_C,grade_D,grade_E,grade_F,grade_G,home_ownership_NONE,home_ownership_OTHER,home_ownership_OWN,home_ownership_RENT,verification_status_Source Verified,verification_status_Verified
0,10.65,10.0,24000.0,27.65,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1,15.27,0.0,30000.0,1.00,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,15.96,10.0,12252.0,8.72,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,13.49,10.0,49200.0,20.00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,12.69,1.0,80000.0,17.94,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

Now let us split the data into test and training data. To do this we use the `StratifiedShuffleSplit` from scikit learn (read more about splitting methods [here](https://scikit-learn.org/stable/auto_examples/model_selection/plot_cv_indices.html#sphx-glr-auto-examples-model-selection-plot-cv-indices-py))

In [5]:
from sklearn.model_selection import StratifiedShuffleSplit

sss = StratifiedShuffleSplit(n_splits=10, test_size=.3, random_state=3)

# These are the row indices of the stratified split
data_splits = list(sss.split(data[y_var], data[y_var]))

# Separate data in y,X
y = data[y_var]
X_vars_b = data.columns!=y_var
X = data.loc[:,X_vars_b]

In [6]:
import warnings
warnings.filterwarnings('ignore')

In [7]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X, y)
model.feature_importances_

array([0.13978474, 0.13784781, 0.25765084, 0.2881301 , 0.03097463,
       0.01214228, 0.0100955 , 0.01123553, 0.01152651, 0.00931849,
       0.00072105, 0.        , 0.        , 0.01466259, 0.02718868,
       0.02759645, 0.0211248 ])

<br>
<br>

## 1.1 Model validation

We start out with some basic concepts and our goal is to estimate and evaluate the logistic regression.


> **Ex. 1.1.1:** extract the first data split and construct features, target for train, test data.
>> *Hint:* `data_splits` is a list with 10 train-test pairs of randomly selected row indices. So the k'th element of `data_splits` contains a pair (train_idx, test_idx) identifying the k'th fold in the data.

In [9]:
# [Answer to ex. 1.1.1 here]
data_splits

[(array([ 206, 1510, 1604, ...,  245,  186, 1355], dtype=int64),
  array([ 448, 1259,  869, 1467,  557, 1558, 1422, 1104, 1423,  644, 1718,
          845, 1575,  427, 1403,  661,   35,  229,  870,  295,  228, 1564,
         1272,  707, 1385, 1919,  553, 1309,  900,  373,  992,  537,  527,
           42, 1238, 1551,  212, 1701,  530,   93, 1815,  185, 1461, 1178,
          599,  123, 1652,  238, 1353,  354, 1103,  970, 1095, 1465, 1052,
         1518,  535, 1986,  615, 1731, 1816, 1447,  801,  799,  892,  366,
          893,  237,  586,  635, 1211,   16,  613,  300,  835, 1826,  275,
          499, 1444,  766, 1078,  353,    3,  505, 1611,  832,  805,  664,
          509, 1417, 1996, 1951, 1340, 1438,  310, 1077, 1527, 1057,  341,
          881,  446, 1606,  720, 1017, 1179, 1116, 1185, 1614,  128,  103,
          974, 1802, 1121, 1298, 1862,  321,  268,  469,  989,  688,  525,
          995, 1736, 1344,   44, 1312,  401,  383, 1848, 1175, 1481,  572,
          987, 1364,  671, 1970, 1452,  911,  494,  199, 1846,  330,  673,
           60, 1345, 1642, 1732,  223, 1889,  336, 1903,   79, 1685,  922,
         1548, 1253,  386,  213,  431,  947, 1209,  853, 1697, 1879, 1512,
         1122,  914,  418, 1117, 1998,  475, 1717, 1302,   41, 1552,  450,
         1300, 1218,  798, 1570,  695, 1995,  488, 1181,  923, 1928,  814,
          487, 1216,  569,  822,  631,  315, 1021,  287,  154, 1824,  692,
          395,  776, 1763, 1692, 1906, 1751, 1849, 1177,  703, 1715,  755,
          706, 1453, 1814, 1226,   45, 1885, 1837,  935, 1516, 1278,  205,
         1505,  339,  343, 1316,   17, 1160,  512,  670,  838,   67, 1936,
          370, 1740,  193,  349, 1707, 1969,  340,  855,  600, 1352, 1248,
          677, 1923,  770, 1245, 1798, 1286,  147, 1864,  736,  593,  618,
          528,  821, 1197,  267,  534,  734,  886, 1448, 1781,  882, 1152,
          611,  890,  294,  645,  279,  932, 1416,   14, 1559, 1959, 1213,
           25, 1247,  581, 1577,  545,  946, 1914, 1326, 1294, 1653,  247,
          454,  271, 1256, 1625,  278,  250, 1894, 1110,   32, 1400,  400,
         1249, 1843, 1856,  159, 1274,  380,  997, 1514,   13, 1228,  110,
         1796,  964, 1836, 1827,  810, 1496,   18,  243,   68, 1244, 1665,
          919, 1877,  849, 1277,  722, 1762,  298,   94,  713,  163, 1285,
         1907,  711,   77, 1276, 1943, 1493,  637,  217,  656, 1494, 1659,
          944,  616,  929,  733,  301,  532,   29, 1691,  224,  379, 1454,
         1224,  904, 1310,  690, 1042,  362,  783,  972, 1420,  828,  628,
         1215, 1764,  139, 1992,  963, 1926, 1093,  256,  975, 1574,  444,
         1929,  352, 1754, 1397, 1967, 1761, 1883,  896,  182, 1020, 1107,
          602,  382,  449, 1545,  743,  951,   20,  369, 1331,  889, 1337,
         1470, 1533, 1851, 1601,  108,  782, 1212, 1489,  262, 1432, 1972,
          464,  207, 1246,  227, 1633,  135,  597, 1550,  790, 1458,  691,
         1324, 1146, 1603,  468, 1955, 1573,  796, 1587,  559, 1880, 1015,
          859,  486,  954,  542, 1031, 1007,  844,  119,  422,  931,  293,
         1296, 1730,  121, 1289,  633, 1026, 1439,  348, 1334, 1511, 1621,
          495, 1469,   57, 1922, 1899,  347,  803,  850,  533, 1586,  445,
         1845,  630,  961,  679, 1242, 1172, 1613,  511, 1339,  622, 1660,
          520,  683, 1199,  554, 1478, 1980, 1666, 1442,  623, 1126,  741,
         1262,  576,  344,  338,  552,  131,  319, 1631,  171, 1961,  589,
          879, 1532,  827, 1050,  625, 1847, 1119, 1684,  320, 1500,   38,
         1267, 1557, 1061, 1123, 1813, 1237,  115, 1347,  657,  759,  792,
          377,  634, 1390, 1065,  858,  614,  596,  270,  979,  700,  414,
         1641, 1908, 1254,  447,  760, 1221,   26,  458, 1128,  384, 1482,
         1273, 1917, 1240,  143, 1377, 1938,   80,  100, 1523,   88, 1953,
         1045, 1745, 1361, 1159,  155,  579, 1047,  658, 1075,  740,  265,
          764, 1440, 1257, 1140,  485, 1005,  680, 1151, 1912,  381, 1231,
          261, 1984,   23, 1656,  482,  529,  617,  897, 1049, 1010, 1101,
         1933,  605, 1688,  406, 1555, 1909, 1831, 1145,  194, 1839,  101,
         1446,  117, 1358, 1359, 1873,  808, 1667], dtype=int64)),
 (array([ 503,  517,  999, ...,  842,  484, 1044], dtype=int64),
  array([1787,   11, 1918, 1691, 1339,  581, 1223, 1273, 1540, 1194,  712,
          733, 1662,  837,  876,  990, 1069, 1701,  901,  302,  191,  685,
         1236, 1245, 1234,  460, 1862, 1372,  512,  639,  361, 1308,  937,
          138, 1626, 1870, 1063, 1693,  423, 1993, 1630, 1249,   44,   75,
         1719, 1805, 1369, 1687,  260,   21,  643, 1227, 1476, 1215,  553,
         1222, 1389,  584, 1412,  760,  804, 1989, 1789,  197,  274,  975,
          471, 1225,  875,   54, 1861,  557, 1434,  403, 1014,  774, 1216,
          653, 1523,   88, 1564,  494,   89,  218,  470,  532, 1184, 1879,
         1030,  146,  427, 1338, 1520, 1852,  791,  620, 1302,  281,  495,
          106, 1135, 1240,  618,  910, 1692, 1573, 1881, 1082, 1340, 1364,
          311, 1418,  450,  288,  530, 1027, 1825, 1384,  832,  555,  811,
         1324,  648, 1733,  398, 1753, 1465,  386,  697, 1497, 1428, 1408,
          109,  104, 1388,  671, 1972,  279,  531,  388,    6,  738, 1600,
         1747, 1816,  633,  727,  764,  142,  497, 1278, 1967, 1633,  746,
          895,  942, 1617,  513,  371,  855, 1815, 1941, 1400, 1610,   98,
         1921,  276,  550, 1359, 1461, 1062,  941, 1145, 1906, 1118, 1924,
          588,  364, 1318,  210,  632, 1976, 1198,  501, 1854, 1375, 1157,
         1305, 1784,  915, 1502, 1261, 1486,  940,  787,  808, 1912,  487,
         1666,  422,  438,  705,  300,  356, 1684, 1652,  341, 1367, 1122,
         1937,  175, 1292, 1674,  964,  505,  888, 1116, 1839, 1164,  344,
         1050,  204, 1996, 1880,  461,  435, 1936, 1817,  578,  971,  124,
          379, 1310,  133, 1048, 1901, 1435, 1603,  409, 1543, 1737, 1955,
          924, 1971,  982, 1735,  381,  467,  436,  995,  900, 1943,   77,
          748,  678, 1730,  759,  623,  208,   91, 1765, 1595, 1275, 1422,
          836,  978, 1125,  410,  766, 1484, 1923,  492,  952, 1221,  139,
          955, 1550,  638, 1580, 1179, 1026, 1183,   14, 1698, 1834, 1266,
           52,  521, 1409, 1354,  518, 1985, 1411,  230,  380,  798, 1459,
          600, 1598, 1000, 1056,  322, 1838, 1831,   28,  168, 1403, 1314,
         1538,  272, 1530,  948,  691,  846,  852,  539, 1744,  132, 1306,
         1337,  715, 1790, 1767, 1480,  880, 1205, 1107,  894,  963, 1585,
          626,  185,  597, 1313,  604, 1785,  217,  874,  767, 1304,  303,
          485,  723, 1175, 1982,  433, 1148,  696, 1832, 1185,  110, 1187,
         1554, 1096, 1457, 1738, 1201,  669,  677,  172, 1764,  359,  320,
         1032,  770,  647, 1406, 1080,  831,  541,   56, 1622, 1051,  412,
         1620,  214,  254,  212, 1378,  370,  284, 1277,  376,  741,  462,
         1158,  429,  615, 1577, 1140,  445,  587, 1736,  261,   58, 1425,
          446, 1471, 1974,  400,  105,  540,  974, 1154,  209,  645,  389,
         1843, 2000, 1810, 1512, 1161, 1515, 1132, 1342, 1002,  200,  662,
         1594,  917, 1700,  193, 1487, 1522,  816, 1355, 1975,  468, 1568,
         1233,  480,   93,  561,  233,  229,   83,  408,  778,  431,  432,
          140, 1079,  417,  315,  439, 1947, 1760,  500,  634, 1818, 1750,
         1382,  202, 1160,   57, 1258,  222, 1768,  779,   59,  693, 1526,
         1604,  898,  198,  603,  793,  847, 1451, 1404, 1169, 1814, 1583,
         1024,  393,   86,  599, 1071, 1297, 1677,  947, 1534,  269,  533,
         1475, 1513,  373,  805, 1171,  170,  362, 1327,  268,  474, 1390,
          215,  608,  631,  959, 1616,  566, 1103,  442, 1865,  292, 1144,
         1846, 1346, 1579, 1566,  652, 1946,  569,  159,  883,  486, 1708,
         1656,   71, 1089, 1968,  756,  117,  149, 1544, 1688, 1685,  972,
         1559,  640,   47,  549,  498,  710,  674, 1141,  987,    9,  730,
          324,  504, 1010, 1059,  602, 1619,  259, 1230,  699,  913,  299,
          586,   19, 1755, 1473, 1414,  171,  606,  340,  473,  216,  103,
          472,  519,  780, 1654,  851, 1094, 1798,  395, 1402, 1207,  745,
          543, 1315, 1143,   43, 1980,  661,  234,  213, 1586, 1413,  266,
         1770,  976, 1978,  984, 1307, 1023,  167, 1072, 1083,  892,  165,
         1851, 1209, 1405,  860, 1702,  607,  564], dtype=int64)),
 (array([ 239,  354,  775, ..., 1932,  512, 1653], dtype=int64),
  array([ 803,  628,  818,  951,  648, 1174,  587,  211,  128,  751, 1465,
         1185,  539, 1569,  349, 1491, 1105, 1513, 1159, 1763,   52, 1714,
         1335, 1299, 1738, 1343, 1428,  697,  293,  201,  314,  254,   74,
         1103, 1450,  596,  792, 1539, 1541, 1449, 1808,  444, 1907,  702,
         1327,  475,  672,  821,  432, 1507,  796, 1522,  462,  930, 1597,
          109, 1637, 1742, 1127, 1856,  937,  110,  906,  652,  415, 1647,
          117,  773,   94, 1396, 1872, 1486, 1949,  404, 1701, 1812,  498,
          249,  393,  760,  633,  595,  964,  144, 1435,  312, 1767,  136,
          721,   86,  275, 1865, 1379, 1365,  316,  399,  378,  199, 1536,
         1240,  732,  779, 1336,   44, 1467,   17,   98, 1385, 1786,  208,
         1356, 1125,  624,  737,  808, 1325, 1330, 1612, 1150,  962,  120,
           50, 1166,  407, 1554,  850, 1309,   82, 1887, 1523,  746, 1017,
           76, 1521, 1998,  844, 1893,  681,  729, 1858,  459,  151, 1147,
         1702,  107,  639,  297,  502,  113, 1359, 1952,  644, 1407, 1640,
           92,  543,  676, 1342,  569, 1183, 1483, 1184, 1447, 1324, 1836,
          433,   38, 1753, 1770, 1079, 1934, 1625,  656, 1441, 1827,   48,
          198, 1830,  607,  435, 1475, 1039, 1920,  754, 1112,  728, 1152,
          420,  856, 1231,  692,  478,  168, 1239, 1099,  329,  255,  900,
         1580, 1857,   80, 1791,  166, 1452,  243, 1928, 1277,  910,  567,
         1259, 1993,  453, 1316,  261,  788, 1021, 1347, 1262,  142,  889,
         1553,  884, 1095, 1609,  210, 1837, 1074, 1845,  391, 1774, 1961,
          536, 1023, 1761,  832,  799,  311,  400, 1793, 1723, 1225,  801,
         1460, 1782,  848, 1676, 1603,  887,  955, 1404,  823, 1527,  786,
         1617,  537,  138, 1214,  247,  375,  929,  438,  618,  387,  691,
         1802,  726,  589,  675, 1658, 1366,  609,  920, 1440, 1294,  946,
          389,  559, 1254, 1672,  226, 1659, 1497, 1727,  824, 1547, 1468,
         1104,  214,  807,  195, 1698,  901, 1693, 1022,  121, 1244, 1409,
          288,  289,  655, 1530, 1117,  878, 1462, 1348, 1504, 1011,  705,
          862, 1855,  361,  794, 1069, 1756, 1736,  419,  147,  207,  753,
         1048,  299, 1153, 1209, 1861,  165,  394,  785, 1360, 1352,  392,
         1109, 1472, 1596,  868, 1619, 1119, 1234, 1043,  598,  893,  916,
          224,  638,  918, 1868,  985,  852, 1940,  551,  870,  518,  301,
           88,   58,  324,  742, 1518, 1156,  950, 1814,  369,  196,  127,
         1285, 1542,  170, 1293,  833, 1975, 1623, 1171,  682, 1136, 1919,
          271, 1263, 1849,  450, 1939,  576,  909, 1508, 1634,  287, 1427,
         1933, 1762, 1769, 1867,  118, 1051, 1946,  202, 1750,  146, 1480,
         1692,  812, 1426, 1412, 1456, 1537,  454, 1090,  854, 1478,  809,
          320,   60, 1361, 1708,  731, 1545,  816,  155, 1484,  209, 1945,
            1,  163, 1193, 1679, 1054,  152, 1832,  574, 1838, 1645, 1405,
          749, 1825,  265,  712, 1035,  561, 1567,  905, 1670,  722, 1203,
          678, 1863,   69, 1835, 1828, 1558,  961,  503, 1950, 1895,  367,
         1560, 1593,  351, 1415,  115, 1874,  525, 1585, 1473, 1238,  649,
           87, 1135,  660,  385, 1018, 1331,  997, 1721,  558, 1392, 1005,
          347, 1635,  547, 1746, 1413,  740,  637,  659,  248,  318, 1792,
          834, 1189,  237, 1078, 1266,  586, 1639,  763, 1842,  300, 1317,
          973,  797, 1846, 1304,  593,  167,  666,  541, 1715, 1572,  176,
          116, 1711,  188, 1036,  212,  651, 1296, 1745,  829,  623,  873,
         1648, 1717, 1563, 1384,   46, 1332,  292, 1582,  996, 1469,    5,
          671,  184,  511, 1705,  263, 1848, 1967,  601,  464,  259, 1056,
         1187, 1914,  880, 1704, 1458,  764, 1511,  495,  843,  986, 1132,
         1033, 1571,   45,   43,  376,  790,  542, 1847,  741, 1372,  187,
         1921,  871,  743,  143, 1499, 1389,  123,  531,  200,  164,  150,
         1937,  194, 1598,  506,  356,  570,  221,  327,  840,  800,   66,
          421, 1894,    9, 1709,  197, 1964, 1616, 1453, 1590, 1374,  497,
          149,  368,  161, 1533,  408,  186, 1195], dtype=int64)),
 (array([1018,  782, 1402, ..., 1130, 1693, 1026], dtype=int64),
  array([1306,  467,  301, 1316, 1575, 1379,  631,  651,  117, 1921, 1305,
         1519, 1984, 1355,  732,  511,  105, 1974,  852,  564, 1511,  505,
         1013,  304,  755,  715,  697, 1087, 1951, 1332, 1971, 1699, 1871,
         1074, 1675,  152, 1666,  568,  127, 1209,  617, 1816, 1169, 1372,
         1224, 1173, 1424,   32, 1572,  937,  660,  154,  358,  421, 1792,
          116, 1574, 1926, 1179,  246,  501, 1107,  676,  946,  902,  731,
         1851, 1438,  887,   76,  803, 1960, 1370, 1932,  529, 1585,  377,
         1249, 1627,  994,  692,  494,  853, 1510,  426,  980, 1085, 1556,
         1251,  364,  930, 1836,  179,  768, 1844,  452,  191, 1751,  704,
         1825,  534,  199, 1967, 1003,  817,  783,  354,  825,  635, 1769,
         1146, 1936,  113, 1267,  208,  945, 1113, 1913,  224, 1480,  176,
          898,   58,  653,  522, 1580,  275,  297, 1720, 1294, 1084,  539,
         1761,  613,  215, 1907, 1374,  780,  614, 1303,  577, 1858,  444,
           89, 1233, 1623,  734, 1139, 1914,  480,  993, 1626,  645, 1815,
         1678, 1328, 1684, 1651,  921, 1398, 1449, 1052, 1616, 1939,  130,
         1568, 1490, 1302,  366, 1116, 1648, 1793, 1516, 1954, 1721,  702,
         1155,   15, 1803, 1272,   81,  229, 1778,  956, 1654, 1063,   20,
          998, 1101, 1262, 1770, 1280,  773,  121, 1714,  602,  606,  718,
          536,  423, 1397,  357,  798, 1532, 1679, 1755, 1929, 1313,  441,
          214,  812,  349, 1752, 1514, 1004,  959,  951, 1843,  667,  621,
         1283,  619, 1994,  228,  596,  138,  507, 1671, 1291, 1337, 1475,
          323,  412,  622, 1573, 1043,  881, 1426, 1248,  625,  142,  774,
         1182,   90, 1207, 1826, 1474,  978,  758, 1230, 1156,  995, 1833,
          242, 1375, 1906,  723, 1756,  739,  661, 1942,  714,  545,  337,
          280,  391, 1899,  863, 1079,  746,  985,   33, 1361,  997,  346,
          706,  650, 1067,  566,  891,  361,  961,   61, 1961,  874, 1863,
          295,  561, 1922, 1641, 1854,  438,  372, 1748, 1635,  873, 1006,
         1596, 1848,  674,  833, 1987, 1728,  872, 1910, 1318, 1365,  928,
         1955, 1145, 1279,  473, 1371,  594, 1582, 1777, 1048,  148, 1637,
          860,  620,  844,  109,  854,  226, 1472,  533,  166,  135,  390,
         1072, 1531, 1578,  584, 1590, 1831, 1709, 1950, 1265,  360,  283,
         1364,  742, 1020, 1040, 1978, 1976, 1634, 1277,  720, 1025, 1567,
          599,  604,  924, 1545, 1795,  284, 1579, 1940,  576,  493, 1342,
         1824,  143, 1554,  350, 1724,  658, 1876,  754, 1498, 1701, 1443,
         1665,  634, 1763,  344, 1862, 1742, 1653,  491,  186, 1174, 1688,
          335, 1809,  124,  919,  894,  137,  477, 1941,  832, 1340, 1012,
         1268, 1965,  918,   98, 1644, 1990, 1369, 1327, 1829, 1195,  155,
         1762,  407, 1842, 1218, 1311, 1049,  554, 1105,    4, 1798,  370,
          466, 1401, 1404, 1507, 1263,  209,  960,  512,  290,  717,  510,
         1399,  948, 1609, 1349, 1680, 1970,  430, 1584,  156,  457,  258,
         1599,  216,  347, 1883, 1492,   88, 1382, 1608, 1703,  637,  923,
         1060,  498,  788, 1473,   43,  727,  210, 1376, 1647, 1095,  369,
          671, 1307,  849, 1322,  939,    7,  820,   85, 1346,  967, 1201,
          705,  664, 1242, 1047, 1138, 1536, 1057, 1685,   96,  693, 1632,
         1039,   12, 1957,   38, 1605, 1184,  171, 1007,  751, 1749,  538,
         1094,  876, 1993, 1849,  730,  128,  899,  563,  690, 1956,  950,
         1300,  439, 1734, 1196, 1655,  353,  278, 1299,  118,  417,  811,
         1260,  489,  841,  761,  170,  752, 1433, 1164, 1065, 1125,  409,
         1413,  150, 1406, 1669, 1331,    2,  698, 1078,  503,   72,  451,
          756,  905,  151, 1537,  465, 1557, 1903,  106,  605, 1935, 1159,
         1344,  914,   29,  448,  800, 1733,  679, 1857, 1058,   10, 1928,
          748,  804,  551, 1016, 1290, 1512,   26,    5, 1464, 1683, 1504,
          940, 1730, 1330, 1034, 1373,  789,  293,  869, 1114,  823, 1070,
          264,  203,  822, 1120, 1538,  375, 1918, 1952,  938,  153,  254,
         1118,  743,  685, 1198, 1548,  387,  681], dtype=int64)),
 (array([ 901,  502, 1552, ..., 1143,  489,  930], dtype=int64),
  array([1509, 1030, 1006,  416,  999, 1943, 1951,  346,  902, 1354,  551,
         1775, 1417, 1200, 1147, 1624,  137, 1397, 1915,  936, 1543, 1053,
          353,  778, 1985,  959, 1976, 1233,   87, 1382,  830, 1236, 1608,
         1658,  811, 1886, 1005,  238,  187,  612,  427, 1708, 1510,    9,
          692, 1170,  907,   64,  169, 1302, 1833, 1667,  610,  368, 1352,
          388,  722,  970,  737, 1108,  807,  503,  625, 1436, 1219,    2,
         1249,  323,  946,  680, 1626, 1414, 1772,  719,  852, 1034, 1454,
          171, 1106, 1785, 1881, 1896,  567, 1906, 1424, 1018, 1163,  670,
           43,  871, 1461,  878,  937,  663, 2000, 1606,  608, 1562,  219,
         1949,  360,  131, 1841,  814,  527,  321,   97, 1954,  846,  417,
          571,  500,  168,  561,  592,  393, 1702, 1346, 1991,  736, 1199,
         1270, 1419,  362,  180,  981,  311, 1503, 1984, 1843, 1167,  474,
          547, 1244, 1867,  689, 1794, 1488,  923, 1406,  533,  739, 1596,
          832, 1338, 1784,  980, 1774, 1071, 1786,  200, 1967,  886, 1177,
         1056,  127,  883, 1847,  538, 1176, 1447, 1054,  191, 1770,  642,
          766, 1712, 1824,  724,  967, 1625,  224,  587, 1319,  231, 1256,
          903, 1059, 1298,  964,  912,  834,  273,  826, 1052, 1124,  419,
         1698,  797,  442,  950, 1793,  541,  375, 1668, 1892, 1260, 1004,
          630,  215, 1569, 1671, 1963,    4, 1633, 1904,  271, 1673,  956,
          963, 1649,  822, 1411, 1808,  838, 1321, 1371, 1078,  317,   14,
          993,  862,  893, 1240,   93, 1204, 1293,  364,  339,  659, 1923,
          875,  611,  933, 1501, 1908, 1805, 1927, 1175,  138,   75,  906,
          647, 1178, 1513, 1306, 1134, 1367, 1883, 1437,  853, 1820,  843,
         1210, 1332,  607,   21,    8,  801, 1137, 1292,  480,  650,  823,
          466,   92, 1735, 1278,  184,  965, 1275, 1334, 1844, 1374,  753,
         1803, 1171, 1645, 1525,  287,  432,  652, 1891,  897, 1746, 1635,
          218, 1364,  119,  622,  208, 1870, 1585, 1007, 1747, 1144, 1814,
         1409,   38,  430, 1049, 1866,  304,  324,  876,  412,  484, 1682,
          210,  784,  688,  410,  604, 1068, 1325, 1773,  450, 1919, 1862,
          975,  395,   81, 1136, 1686,  710, 1932, 1021,   69, 1355,  349,
          542,  446,  348,  781,  574,   17,  372,  535, 1074,  487,  558,
           51, 1882, 1620, 1028, 1185,  991, 1212, 1584, 1661,   60, 1458,
         1365, 1443, 1705, 1283,  636, 1310,  978, 1474, 1086, 1920,  641,
          217, 1695, 1795, 1902, 1016,  648, 1612, 1691,  279, 1393,  994,
          715,   63, 1884,  114, 1911,  779,  684,  839, 1031,  954,  615,
         1781,  925,  148, 1953, 1913, 1330,  214,   10,  931, 1369, 1636,
         1089,  952, 1329,  149,  198, 1254,  355, 1599, 1101, 1287,  158,
          582, 1996,  274, 1807, 1670,  794,  829, 1471,  884, 1408, 1380,
          751, 1453, 1322, 1040, 1893,  796, 1333, 1061,   49, 1026, 1294,
           11,  617,  565,  285,  331,  133, 1133, 1191,  655, 1045, 1100,
          799, 1568,  955, 1387,  773,  805,   18,  308, 1968, 1687,  639,
         1468, 1675, 1522,  620,  347, 1404, 1181,  433, 1257, 1727,  672,

> **Ex. 1.1.2:** estimate a logistic regression model on your training data. Then compute the overall accuracy and $F_1$ score for the default class *on the training data*.
>
>> **Note**: the code below implements a pipeline which standardizes the data by converting it into zero mean and unit standard deviation. We let `C=10**10` which corresponds to no regularization. Make sure you understand why each of these steps are important by looking up the scikit learn docs.
>
>> *Hint 2:* `sklearn` has these functions built-in and are named `f1_score`, `accuracy_score`. See Raschka pp. 189-193.

In [7]:
from sklearn.preprocessing import StandardScaler        # scales variables to be mean=0,sd=1
from sklearn.linear_model import LogisticRegression     # regression model
from sklearn.pipeline import Pipeline                   # For building our model pipeline

lr = Pipeline([('scale', StandardScaler()),
               ('clf', LogisticRegression(class_weight='balanced',C=10**10, solver = 'liblinear'))])

In [8]:
# [Answer to ex. 1.1.2 here]

> **Ex. 1.1.3:** Explain some advantages of computing the $F_1$ score vs. computing the overall accuracy.

In [10]:
# [Answer to ex. 1.1.3 here]

> **Ex. 1.1.4:** Compute the *test set* accuracy and $F_1$ score. How does these compare to the results you got in exercise 1.1.3?

In [11]:
# [Answer to ex. 1.1.4 here]

> **Ex. 1.1.5:** Explain why test set performance is often preferred to the training set performance.

In [13]:
# [Answer to ex. 1.1.5 here]

<br>

### Cross validation

We now turn to actually optimizing the model. We will use cross validation to perform the optimization.

> **Ex. 1.1.6:** Explain what the parameter `C` does in logistic regression. How do parameters change when `C` get smaller? Also explain what `penalty='l1'` will do for coefficients.
>> *Hint:* The documentation for scikit learn will tell you everything you need to know about their implementation of logistic regression.

In [15]:
# [Answer to ex. 1.1.6 here]

> **Ex. 1.1.7:** Use cross validation on training set to estimate hyperparameters and then re-estimate model on training set. The set of $\lambda$ to be considered are $\{10^{-4},10^{-2},1,10^{2},10^{4}\}$. Is the model with optimized hyperparameters better than the non-optimized?
>
>> *Hint 1:* This procedure is implemented in `GridSearchCV`. You set `n_jobs=-1` to parallize computation. See Raschka pp. 186-187 for inspiration.
>
>> *Hint 2:* Consider using `np.logspace` for making the set of $\lambda$.m

In [16]:
# [Answer to ex. 1.1.7 here]

> **Ex. 1.1.8:** Apply nested resampling to compute a distribution of test scores with and without optimization. You should use `data_splits` which we defined initially and input all the data.
>
>> *Hint:* You can implement this using your code from Ex. 1.1.6 and combine it with `cross_val_score`. Note that `cv` input should use `data_splits`. See Raschka pp. 188-189 for inspiration.

In [18]:
# [Answer to ex. 1.1.8 here]

> **Ex. 1.1.9:** Plot the distributions of the optimized vs. the non-optimized. What do you conclude about the performance difference?

In [20]:
# [Answer to ex. 1.1.9 here]

>  **Ex. 1.1.10** Argue how $F_1$ differs from  *area under the curve* (AUC). Comment on their theoretical properties.

### Classification trees and forests

>  **Ex. 1.1.11** Estimate a classification tree on the training data (with default hyperparameters). Evalate both on training and test data by computing the *area under the curve*.
>
>> *Hint:* You can check out code for Ex. 1.1.10 for inspiration. You may also want to look up `roc_auc_score`.

In [22]:
# [Answer to ex. 1.1.11 here]

>  **Ex. 1.1.12** Estimate 50 classification trees and compute the mean prediction. Use the mean prediction to compute the *area under the curve*.
>
>> *Hint:* You may use the code block below and apply it repeatedly.

In [24]:
from sklearn.tree import DecisionTreeClassifier

def train_tree(data_train):
    '''
    Trains a decision tree on a bootstrap 
    of training data.
    '''
    df_ = data_train.sample(frac=1, replace=True)
    ct = DecisionTreeClassifier(class_weight='balanced')
    ct.fit(df_.loc[:,X_vars_b], df_[y_var])
    return ct

In [25]:
# [Answer to ex. 1.1.12 here]

>  **Ex. 1.1.13** Is Random Forest classification different from the procedure of aggregating tree predictions above? If so, explain how.

In [27]:
# [Answer to ex. 1.1.13 here]